<a href="https://colab.research.google.com/github/YanCheng-go/master-jupyter-notebook/blob/interactive-chart/interactive_chart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interactive chart powered by plotly

## Setup environment

HTML render setup

In [1]:
# Display interactive plots powered by plotly
import  IPython # https://ipython.org/#
def configure_plotly_browser_state():
  display(IPython.core.display.HTML('''
        <script src='/static/components/requirejs/require.js'></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-1.5.1.min.js?noext', 
            },
          });
        </script>
  '''))

In [ ]:
# Hide input/code
from IPython.display import HTML
import random 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
init_notebook_mode(connected=True)

def hide_toggle(for_next=False):
  this_cell = """$('div.cell.code_cell.rendered.selected')"""
    next_cell = this_cell + '.next()'

    toggle_text = 'Toggle show/hide'  # text shown on toggle link
    target_cell = this_cell  # target cell to control with toggle
    js_hide_current = ''  # bit of JS to permanently hide code in current cell (only when toggling next cell)

    if for_next:
        target_cell = next_cell
        toggle_text += ' next cell'
        js_hide_current = this_cell + '.find("div.input").hide();'

    js_f_name = 'code_toggle_{}'.format(str(random.randint(1,2**64)))

    html = """
        <script>
            function {f_name}() {{
                {cell_selector}.find('div.input').toggle();
            }}

            {js_hide_current}
        </script>

        <a href="javascript:{f_name}()">{toggle_text}</a>
    """.format(
        f_name=js_f_name,
        cell_selector=target_cell,
        js_hide_current=js_hide_current, 
        toggle_text=toggle_text
    )

    return HTML(html)

Get data from github

In [2]:
! git clone https://github.com/YanCheng-go/master-jupyter-notebook.git

Cloning into 'master-jupyter-notebook'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 1), reused 14 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.

Install additional python libraries

In [ ]:
# ! pip install [PACKAGE_NAME]

## Data pre-processing

Necessary imports

In [4]:
import pandas as pd 
import numpy as np
import os

Pre-settings

In [7]:
EMISSION_PATH = '/content/master-jupyter-notebook/data/china_emission.xlsx'
SINK_PATH = '/content/master-jupyter-notebook/data/省级碳汇和生态元数据.xlsx'
PP_PATH = '/content/master-jupyter-notebook/data/china_stats_gov_provincial_data_master.xlsx'

Read datasets

In [16]:
# Read carbon emission 
df_emission = pd.read_excel(EMISSION_PATH, 'master')
df_emission.head(5)

   uid  year        type  ...         青海省     宁夏回族自治区    新疆维吾尔自治区
0    1  1995  总排放（万吨CO2）  ...  1401.57520  1850.94660  7349.82850
1    2  1996  总排放（万吨CO2）  ...  1343.37116  1944.77130  8478.65150
2    3  1997  总排放（万吨CO2）  ...  1249.61128  1765.06630  6650.66930
3    4  1998  总排放（万吨CO2）  ...  1213.23190  1845.25895  6832.31376
4    5  1999  总排放（万吨CO2）  ...  1440.12580  1844.22232  6676.88178

[5 rows x 33 columns]

In [21]:
# Data overview

In [17]:
# Read carbon sink 
df_sink = pd.read_excel(SINK_PATH, '碳汇')
df_sink.head(5)

  单位：百万吨        2000        2001  ...        2015        2016        2017
0    安徽省  204.667850  215.977964  ...  266.750790  242.233829  241.945430
1    北京市   13.702960   12.839630  ...   24.735049   25.676870   24.215797
2    福建省  344.834239  394.308441  ...  354.052405  343.057907  375.958019
3    甘肃省  295.430100  297.628730  ...  415.782379  406.249508  410.115291
4    广东省  539.226111  564.038447  ...  558.956346  550.391027  578.673605

[5 rows x 19 columns]

In [ ]:
# Data overview

In [18]:
# Read social-economic data
df_PP = pd.read_excel(PP_PATH)
df_PP.head(5)

   uid lv1              lv2       lv3  ...    甘肃省    青海省  宁夏回族自治区  新疆维吾尔自治区
0    0  人口  人口出生率、死亡率和自然增长率  人口出生率(‰)  ...  10.60  13.66    13.72      8.14
1    1  人口  人口出生率、死亡率和自然增长率  人口出生率(‰)  ...  11.07  14.31    13.32     10.69
2    2  人口  人口出生率、死亡率和自然增长率  人口出生率(‰)  ...  12.54  14.42    13.44     15.88
3    3  人口  人口出生率、死亡率和自然增长率  人口出生率(‰)  ...  12.18  14.70    13.69     15.34
4    4  人口  人口出生率、死亡率和自然增长率  人口出生率(‰)  ...  12.36  14.72    12.62     15.59

[5 rows x 37 columns]

In [ ]:
# Data overview

Reorgnize datasets

In [ ]:
# Add missing areas

In [ ]:
# Add missing columns

## Data overview visualization

#### Histogram

#### Pie charts

## Interactive visualizations

### Scatter plots

#### Two variables scatter plot (with linear regression line)

Data pre-processing

Visualization

#### Three variables scatter plot (with linear regression line)

Data preprocessing

Visualization

#### Four variables scatter plot (with linear regression line)

Data pre-processing

Visualization

#### 3-D plots

Data pre-processing

Visualization

### Maps

#### One variable map

#### Two variables map

#### Map with plots